@font-face {
  font-family: 'cairo_playregular';
  src: url('./assets/cairoplay-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('./assets/cairoplay-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font: 2em "cairo_playregular";
}

p {
  font: 1em "cairo_playregular";
}

body {
  display: flex;
  height: 100%;
  background-color: aliceblue;
}
a {
  color: orange;
}

button {
  box-shadow: 0px 5px 7px rgba(128, 128, 128, 0.357);
  border: none;
  outline: none;
  border-radius: .5rem;
  line-height: 2.5;
  min-width: 25%;
  max-width: 35%; 
  font-size: 1rem;
  color: white;
  background-color: orange;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  font: .7rem "cairo_playregular", sans-serif;
}
label {
  flex: 50%;
  margin-top: 5px;
}

input {
  border: 1px solid lightgray;
  border-radius: .2rem;
}

input:focus {
  border-color: blue;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.357);
  outline: none;
}

input[type="password"]:invalid {
  border-color: red;
}

button, .description, .login {
  margin: 5%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
  background: rgba(252, 249, 249, 0.644);
  width: 100%;
}

.brand-panel {
  background-image: url("./assets/flower-bg.jpg");
  background-size: cover;
  height: 100%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.credit {
  color: whitesmoke;
  margin-bottom: 1rem;
  font-size: .85rem;
}

.credit a:link{
  color: lightseagreen;
}

.credit a:visited{
  color: lightseagreen;
}

.content-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-size: 1.25rem;
}

.form-container {
  background-color: white;
  padding: 5%;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.357);
}

.login {
  margin-top: 2%;
}