@font-face {
  font-family: 'cairo_playregular';
  src: url('./assets/cairoplay-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('./assets/cairoplay-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font: 2em "cairo_playregular";
}

p {
  font: 1em "cairo_playregular";
}

.form-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.brand-panel {
  background-image: url("./assets/flower-bg.jpg");
  background-size: cover;
  height: 100%;
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
  background: rgba(252, 249, 249, 0.644);
  width: 100%;

}